#ArriendoPelicula{
    text-align: center;
    font-size: 45px;
}

#combopeli{
    width: 200px;
    height: 30px;
    margin-top: 5px;
}
#formu{
    margin-top: 20px; 
    font-size: 20px;
    
}




